::selection,
::-moz-selection {
	background: rgb(49,49,49);
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    margin: 0 13px 0 13px;
}
a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
@media handheld and (max-width: 200px) {
    body {
        width: 200px;
        margin:0;
    }
}
input[type=text] {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: lighter;
	width: 729px;
	padding: 8px;
	font-size: 20px;
	margin: 5px 0;
}
#main_header {
	background: rgb(233, 92, 51);
	background: -moz-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(233, 92, 51, 1)),color-stop(100%,rgba(229, 59, 44, 1)));
	background: -webkit-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
	background: -o-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
	background: -ms-linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e95c33',endColorstr='#e53b2c',GradientType=0 );
	background: linear-gradient(top,rgba(233, 92, 51, 1) 0%,rgba(229, 59, 44, 1) 100%);
	margin: 0 0 10px 0;
	color: white;
	box-shadow: 0px 0px 3px #333;
}
#main_header a,
#main_header a:link,
#main_header a:visited {
	cursor: pointer;
	display: inline-block;
	text-shadow: 1px 1px 1px #333;
	padding: 10px 20px;
	font-size: 20px;
	color: inherit;
	text-decoration: none;
}
#main_header a:hover {

}
#main_footer {
	text-align: center;
	border-top:1px solid #333;
	padding: 4px;
}
#main_footer a,
#main_footer a:link,
#main_footer a:visited {

}

#editor {
	position: relative;
	margin: 0 auto;
	width: 755px;
	height: 600px;

}